body {
    background-color: #040601;
    background-image: url("images/bg-hd.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 4000px;
}
.bar-top {
    background-color: #fddcc0;
    padding: 12px;
}
.bar-menu {
    background-color: #fff;
}
.svg-primary {
    fill: #5755d9;
}
.logo-header {
    padding-top: 24px;
    width: 180px;
    padding-bottom: 24px;
}
.btn-alternate {
    padding: 6px;
    color: #E08C20;
    border: 2px solid #E08C20;
    border-radius: .3rem;
    font-weight: 600;  
    transition: all .3s ease;
    text-transform: uppercase; 
    margin-right: 6px;
}
.header-donate {
    font-size: .9rem;
    display: inline-block;
    float: right;
    margin-top: -124px;
    position: relative;
}